*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list{
    color: yellowgreen;
    margin-left: 50px;
}

#para{
    color: blue;
}

.first,.sec{
    background-color: lightpink;
    color: royalblue;
    margin: 10%;
}